@using Apps.Admins;
@using Apps.Common;
@using Apps.Models.Sys;
@using Apps.Lang;
@{
    ViewBag.Title = "起草申请";
    Layout = "~/Views/Shared/_Index_Layout.cshtml";
    List<permModel> perm = (List<permModel>)ViewBag.Perm;
    if (perm == null)
    {
        perm = new List<permModel>();
    }
}

<div style="padding:10px">
    @foreach (var v in (List<Apps.Models.Flow.Flow_TypeModel>)ViewBag.DraftList)
    {
        <fieldset class="accordion" style="margin:0px;padding:0px;padding-bottom:10px;margin-bottom:10px;">
            <legend class="tabs-header panel-title" style="border:0px;padding:5px;margin:20px;margin-bottom:5px;">
                @v.Name
            </legend>
            <div style="padding-left:20px;color:#808080">备注:@v.Remark</div>
            <div style="padding:0px 20px 40px 20px;">
                @foreach (var r in v.formList)
                {
                    <div style="float:left;width:120px;margin:10px 0px 10px 0px;">
                        <a href="javascript:void(0)" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-details'" onclick="javascript:window.parent.addTab('@r.Name','/Flow/Flow_Draft/Create?id=@r.Id','icon-add')">@r.Name</a>

                    </div>
                }
            </div>
        </fieldset>
    }
</div>
